In [1]:
import numpy as np
import pandas as pd
import tweepy
import config

#configure token stuff
access_token = config.access_token
access_token_secret = config.access_token_secret
consumer_key = config.consumer_key
consumer_secret = config.consumer_secret

In [2]:
#load kaggle dataset into a dataframe
FILENAME = "twitter_human_bots_dataset.csv"
twitter_dataframe = pd.read_csv(FILENAME)
#print(twitter_dataframe.head())

In [3]:
#configure twitter api client
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit=True)

In [4]:
#insert profile data points into corresponding rows
twitter_dataframe.insert(1,"Name","")
twitter_dataframe.insert(2,"Screen Name","")
twitter_dataframe.insert(1,"Follower Count",0)
twitter_dataframe.insert(2,"Friend Count",0)
twitter_dataframe.insert(3,"Status Count",0)
twitter_dataframe.insert(4,"Timezone",0)

In [5]:
twitter_dataframe

,id,Follower Count,Friend Count,Status Count,Timezone,Name,Screen Name,account_type
0,787405734442958848,0,0,0,0,,,bot
1,796216118331310080,0,0,0,0,,,human
2,875949740503859204,0,0,0,0,,,human
3,756119643622735875,0,0,0,0,,,human
4,464781334,0,0,0,0,,,human
...,...,...,...,...,...,...,...,...
37433,63963107,0,0,0,0,,,human
37434,1064042478,0,0,0,0,,,human
37435,1089732602,0,0,0,0,,,human
37436,815529979,0,0,0,0,,,human
37437,434896892,0,0,0,0,,,bot

In [6]:
#obtain fields from accounts using api client
i = twitter_dataframe["id"][0]
temp = api.get_user(params={"user_id":i})
i

787405734442958848

In [7]:
dropRows = []
for x in range(0, 500):
    try:
        i = twitter_dataframe["id"][x]
        print(i)
        temp = api.get_user(params={"user_id":i})
        #temp.json
        twitter_dataframe.loc[x, "Name"] = temp["name"]
        twitter_dataframe.loc[x, "Screen Name"] = temp["screen_name"]
        twitter_dataframe.loc[x, "Follower Count"] = temp["followers_count"]
        twitter_dataframe.loc[x, "Friend Count"] = temp["friends_count"]
        twitter_dataframe.loc[x, "Status Count"] = temp["statuses_count"]
        twitter_dataframe.loc[x, "Timezone"] = temp["time_zone"]
    except:
        print("ERROR")
        dropRows.append(x)

787405734442958848
796216118331310080
875949740503859204
756119643622735875
464781334
800833795234611200
ERROR
55050269
809500704
1015021614
492306486
432537664
2579497028
19660870
313087874
211550281
769392715
772106131875500032
772521707810787328
476691783
384565337
305922144
1183842404
253755500
368050288
14418045
296484990
932049341862240256
99352713
519045260
115343506
2166882457
381157528
721944734
3392143521
23330998
63176889
239861947
21758143
765944091385421824
19923144
235667666
1191444692
2499018968
557842655
23331044
321388777
298320111
51904755
243794165
2918711542
123470069
2943615224
127664378
1084227842
122159370
39321874
949036672741793793
2178679070
2980315426
17039652
1014793793353199617
202375506
347865421
572785000
4790681969
380457314
15729017
596377986
711721350
326369679
866648466
708759570319953920
722003254716944384
418
19399072
875782003244892160
734035576068788225
816463277643288577
611582397
57409991
46662096
101974483
2610430435
38797799
30409200
24117754
491258363
4112253434
872826012794585089
876795381841100801
287834630
62915097
261620277
15729207
114557496
19923515
50856512
1377305161
586
30147163
483656289
848036460
336069232
128799124
114557557
111673973
848822905
265814650
133694084
1658061462
60031646
111936162
2768241314
703857318
632029895
1587544788
243794651
788792041
1692140268
15467245
721683182
3282830066
20447988
94896901
88081160
63701775
30933781
889213107112996864
276562720
256115497
4848354100
2318140218
2581857086
1739064128
47186755
861135093213138944
20710218
20972371
1681392474
795083617
221512549
18088810
29361001
939262832
3101950833
386139005
220464007
792462217
477365128
39846828
1849164720
91227068
34866114
1021313990
41681878
34079698
409207765
24642526
1034115201979826178
24380395
46662639
172753966
18351153
863765552
856949808
495453239
800588862
120587348
307233876
ERROR
342099030
5768282
448529505
1006905571994472448
202900592
38536306
130286723
897589708162830337
2362967176
171705488
78120081
769650999942340608
78644388
765838109976190976
1320158370
833356976
29885619
877343511858692096
1028654280
970982604
42730704
2961704150
85722328
497288416
403703016
320603385
880018682
ERROR
29099266
400557314
4328785158
877379085214679040
2622731
331613467
957089052
2984510759
439878961
27526457
896533819
350487871
123209023
45090120
2444756300
14157134
14681449
969324483185119232
982628478284595200
839237419815796736
321389968
22021524
304088468
480249240
765659108854857729
50595242
16254381
837027265
1126958532
38536646
215745990
2334131662
74712538
2727609826
179832300
2425882104
3077047801
1125910016
ERROR
171968009
301729291
74450446
1604847120
362284562
1719404058
2444756510
568854046
867436081
3164603961
772504122608214016
318768709
835368880277159936
1733822028
328205906
890678446698975233
217319002
4903929447
894666092710383618
1661470322
28313220
214697607
242484876
3483877814
18089641
316147373
969672378
293340865
476317382
48236235
349177562
1069811420
35391199
8652512
305399525
217319143
878028362589118464
2444232436
453510918
150996744
2465466121
885524240
888145681
272893712
452462357
9963292
1680869150
15730467
772384385609920512
772179253676896256
268961586
387450674
877353395538935808
238028607
241698625
940050242
917505878
803412430193770496
807229152612925440
242747238
ERROR
34867057
495716215
36439939
52430724
73140135
125568955
219416510
225445834
2932344784
50595800
856426471
19924969
2301364213
599001082
147589125
796252778066743296
778553286022533120
2196506641
883951634
2563770386
161482772
1602488347
178260000
614467617
372508707
3236431915
113248312
762841146
315623483
2728659003
20711495
80480330
1885079629
99092563
6031442
1711016023
1976043619
412354660
38537315
216533096
849266279848562689
103024765
2530740348
736750345095942144
786988812312449024
ERROR
837344043021570049
710892812192124929
ERROR
784471315898109953
806067753505460225
822532286138748930
107481236
732736395891118083
106170524
771923395961360389
90704023
28838048
38799543
67635391
14944471
288884968
35916009
278399214
321390831
ERROR
205261048
843798888481927168
2431387897
251136261
ERROR
188483855
2253916442
1249904934
17828140
119802157
41421105
236980532
713039970680881153
4820306248
39586129
2590771538
248252756
879710844325703680
896153708991590400
146540920
420219280
231999899
298060189
781888610320678912
772262928795992064
403179950
24906161
877326428399779840
262146488
369625532
842870779066945536
20449731
3266054594
37751238
877293082177306624
18614747
2307656165
5507572
12585462
177474041
25954814
787483152
405015059
4848093719
547097112
467991054
111938071
20711964
22284834
3312192048
279185985
906758731
2532837963
878447185
592972389
60820070
42207855
72878707
46926453
19925621
351799946
3299871373
790701621181292544
803570644843634688
3077835414
124258971
19663518
37489316
803356645950627841
15731377
132385468
772455418455007234
227019467
413403853
44829395
175639254
460279825
2337802973
91491046
1516505838
165153530
279710472
247991049
226757393
71568164
805571370
630459182
348654395
436996936
61868891
73141088
1219758966
3300133759
715918219
4849142669
23595924
18353044
393743257
310643621
754373350676271104
265554862
2363231167
4384885696
772428274702090240
1233652698
103025630
24906723
46664677
132385773
875894126855802880
34343928
18091004
379325443
790629380
38973772
250350611
2610433058
64228387
20974645
483396662
342363193
2718436417
2171079759
1002441816
114035804
769633309722763264
875835223480557568
2794720358
53218408
19139694
482610286
2158759025
3979873394
14421107
538446976
2573208707
71225650
153619589
711050934109876224
27528339
784286171673145344
2468088978
556534934
90967197

In [8]:
dropRows
twitter_dataframe.drop(dropRows)

,id,Follower Count,Friend Count,Status Count,Timezone,Name,Screen Name,account_type
0,787405734442958848,1811,5,14283,NaN,The Best In Dumbest,best_in_dumbest,bot
1,796216118331310080,814,847,251,NaN,CJ Rubin,CJRubinPhoto,human
2,875949740503859204,181,875,1278,NaN,üî•ùñòùñÜùñõùñÜùñåùñä ùñåùñäùñìùñôüî•,SVGEGENT,human
3,756119643622735875,644,741,1851,NaN,Danielle Tinker,TinkerVHECHK5,human
4,464781334,740632,120,4442,NaN,Joleon Lescott,JoleonLescott,human
...,...,...,...,...,...,...,...,...
37433,63963107,0,0,0,0.0,,,human
37434,1064042478,0,0,0,0.0,,,human
37435,1089732602,0,0,0,0.0,,,human
37436,815529979,0,0,0,0.0,,,human
37437,434896892,0,0,0,0.0,,,bot

In [9]:
twitter_dataframe.to_csv("output.csv", sep='\t', encoding='utf-8')