In [25]:
import numpy as np
import pandas as pd
import tweepy
import config

#configure token stuff
access_token = config.access_token
access_token_secret = config.access_token_secret
consumer_key = config.consumer_key
consumer_secret = config.consumer_secret

In [26]:
#load kaggle dataset into a dataframe
FILENAME = "twitter_human_bots_dataset.csv"
twitter_dataframe = pd.read_csv(FILENAME)
#print(twitter_dataframe.head())

In [27]:
#configure twitter api client
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit=True)

In [28]:
#insert profile data points into corresponding rows
twitter_dataframe.insert(1,"Name","")
twitter_dataframe.insert(2,"Screen Name","")
twitter_dataframe.insert(1,"Follower Count",0)
twitter_dataframe.insert(2,"Friend Count",0)
twitter_dataframe.insert(3,"Status Count",0)
twitter_dataframe.insert(4,"Timezone",0)

In [29]:
twitter_dataframe

,id,Follower Count,Friend Count,Status Count,Timezone,Name,Screen Name,account_type
0,787405734442958848,0,0,0,0,,,bot
1,796216118331310080,0,0,0,0,,,human
2,875949740503859204,0,0,0,0,,,human
3,756119643622735875,0,0,0,0,,,human
4,464781334,0,0,0,0,,,human
...,...,...,...,...,...,...,...,...
37433,63963107,0,0,0,0,,,human
37434,1064042478,0,0,0,0,,,human
37435,1089732602,0,0,0,0,,,human
37436,815529979,0,0,0,0,,,human
37437,434896892,0,0,0,0,,,bot

In [30]:
#obtain fields from accounts using api client
i = twitter_dataframe["id"][0]
temp = api.get_user(params={"user_id":i})

In [36]:
for x in range(0,15):
    i = twitter_dataframe["id"][x]
    temp = api.get_user(params={"user_id":i})
    twitter_dataframe["Name"] = temp["name"]
    twitter_dataframe["Screen Name"] = temp["screen_name"]
    twitter_dataframe["Follower Count"] = temp["followers_count"]
    twitter_dataframe["Friend Count"] = temp["friends_count"]
    twitter_dataframe["Status Count"] = temp["statuses_count"]
    twitter_dataframe["Timezone"] = temp["time_zone"]

Forbidden: 403 Forbidden
63 - User has been suspended.

In [37]:
twitter_dataframe

,id,Follower Count,Friend Count,Status Count,Timezone,Name,Screen Name,account_type
0,787405734442958848,740748,120,4440,None,Joleon Lescott,JoleonLescott,bot
1,796216118331310080,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
2,875949740503859204,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
3,756119643622735875,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
4,464781334,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
...,...,...,...,...,...,...,...,...
37433,63963107,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
37434,1064042478,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
37435,1089732602,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
37436,815529979,740748,120,4440,None,Joleon Lescott,JoleonLescott,human
37437,434896892,740748,120,4440,None,Joleon Lescott,JoleonLescott,bot