In [2]:
import numpy as np
import pandas as pd
import tweepy
import config

#configure token stuff
access_token = config.access_token
access_token_secret = config.access_token_secret
consumer_key = config.consumer_key
consumer_secret = config.consumer_secret

In [3]:
#load kaggle dataset into a dataframe
FILENAME = "twitter_human_bots_dataset.csv"
twitter_dataframe = pd.read_csv(FILENAME)
#print(twitter_dataframe.head())

                   id account_type
0  787405734442958848          bot
1  796216118331310080        human
2  875949740503859204        human
3  756119643622735875        human
4           464781334        human

In [11]:
#configure twitter api client
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit=True)

In [12]:
#obtain fields from accounts using api client
i = twitter_dataframe["id"][0]
temp = api.get_user(params={"user_id":i})

787405734442958848

In [16]:
temp
#insert profile data points into corresponding rows
twitter_dataframe.insert(1,"Follower Count",0)
twitter_dataframe.insert(2,"Friend Count",0)
twitter_dataframe.insert(3,"Status Count",0)

In [17]:
#remove any junk rows
twitter_dataframe

,id,Follower Count,Friend Count,Status Count,account_type
0,787405734442958848,0,0,0,bot
1,796216118331310080,0,0,0,human
2,875949740503859204,0,0,0,human
3,756119643622735875,0,0,0,human
4,464781334,0,0,0,human
...,...,...,...,...,...
37433,63963107,0,0,0,human
37434,1064042478,0,0,0,human
37435,1089732602,0,0,0,human
37436,815529979,0,0,0,human
37437,434896892,0,0,0,bot

In [ ]:
#export csv