In [10]:
import numpy as np
import pandas as pd
import tweepy
import config

#configure token stuff
access_token = config.access_token
access_token_secret = config.access_token_secret
consumer_key = config.consumer_key
consumer_secret = config.consumer_secret

In [11]:
#load kaggle dataset into a dataframe
FILENAME = "twitter_human_bots_dataset.csv"
twitter_dataframe = pd.read_csv(FILENAME)
#print(twitter_dataframe.head())

In [3]:
#configure twitter api client
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit=True)

In [14]:
#insert profile data points into corresponding rows
twitter_dataframe.insert(1,"Name","")
twitter_dataframe.insert(2,"Screen Name","")
twitter_dataframe.insert(1,"Follower Count",0)
twitter_dataframe.insert(2,"Friend Count",0)
twitter_dataframe.insert(3,"Status Count",0)
twitter_dataframe.insert(4,"Timezone",0)

In [15]:
twitter_dataframe

,id,Follower Count,Friend Count,Status Count,Timezone,Name,Screen Name,account_type
0,787405734442958848,0,0,0,0,,,bot
1,796216118331310080,0,0,0,0,,,human
2,875949740503859204,0,0,0,0,,,human
3,756119643622735875,0,0,0,0,,,human
4,464781334,0,0,0,0,,,human
...,...,...,...,...,...,...,...,...
37433,63963107,0,0,0,0,,,human
37434,1064042478,0,0,0,0,,,human
37435,1089732602,0,0,0,0,,,human
37436,815529979,0,0,0,0,,,human
37437,434896892,0,0,0,0,,,bot

In [16]:
#obtain fields from accounts using api client
i = twitter_dataframe["id"][0]
temp = api.get_user(params={"user_id":i})

In [17]:
dropRows = []
for x in range(0,4):
    try:
        i = twitter_dataframe["id"][x]
        print(i)
        temp = api.get_user(params={"user_id":i})
        temp.json
        twitter_dataframe["Name"] = temp["name"]
        twitter_dataframe["Screen Name"] = temp["screen_name"]
        twitter_dataframe["Follower Count"] = temp["followers_count"]
        twitter_dataframe["Friend Count"] = temp["friends_count"]
        twitter_dataframe["Status Count"] = temp["statuses_count"]
        twitter_dataframe["Timezone"] = temp["time_zone"]
    except HTTPError as e:
        dropRows.append(x)

787405734442958848
796216118331310080
875949740503859204
756119643622735875

In [18]:
dropRows
twitter_dataframe

,id,Follower Count,Friend Count,Status Count,Timezone,Name,Screen Name,account_type
0,787405734442958848,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,bot
1,796216118331310080,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
2,875949740503859204,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
3,756119643622735875,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
4,464781334,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
...,...,...,...,...,...,...,...,...
37433,63963107,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
37434,1064042478,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
37435,1089732602,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
37436,815529979,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,human
37437,434896892,642,740,1845,None,Danielle Tinker,TinkerVHECHK5,bot