In [17]:
import numpy as np
import pandas as pd
import tweepy
import config

#Number of additional Twitter users added to the output.csv
numNewData = 10

#Tokens
access_token = config.access_token
access_token_secret = config.access_token_secret
consumer_key = config.consumer_key
consumer_secret = config.consumer_secret

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit=True)

#Load Kaggle dataset into an input dataframe
input_dataframe = pd.read_csv("twitter_human_bots_dataset.csv")

In [18]:
def addData(startIndex, numElements, dataframe):
    for x in range(startIndex, startIndex + numElements):
        try:
            user_id = input_dataframe["id"][x]
            twitter_user = api.get_user(params={"user_id":user_id})
            #Parameters for the user's data
            current_user = {
                "id" : user_id,
                "name": twitter_user["name"],
                "screen_name": twitter_user["screen_name"],
                "followers_count": twitter_user["followers_count"],
                "friends_count": twitter_user["friends_count"],
                "statuses_count": twitter_user["statuses_count"],
                "time_zone": twitter_user["time_zone"],
                "account_type": input_dataframe["account_type"][x]
            }
            print(current_user)
            dataframe = dataframe.append(current_user, ignore_index=True)
        except Exception as err:
            print("Error:", err)
    return dataframe

In [21]:
try:
    #Get output from previous fetches
    output_dataframe = pd.read_csv("output.csv", sep='\t', index_col=[0])
    latest_id = output_dataframe["id"].iloc[-1]
    start_index = input_dataframe.index[input_dataframe["id"] == latest_id][0] + 1
    output_dataframe = addData(start_index, numNewData, output_dataframe)
except FileNotFoundError:
    #Creates a new dataframe if no output exists
    header_list = ['id', 'name', 'screen_name', 'followers_count', 'friends_count', 'statuses_count', 'time_zone', 'account_type']
    output_dataframe = pd.DataFrame(columns=header_list)
    output_dataframe = addData(0, numNewData, output_dataframe)

output_dataframe

{'id': 235667666, 'name': 'guwop', 'screen_name': 'AlexNunez__', 'followers_count': 1308, 'friends_count': 1177, 'statuses_count': 74662, 'time_zone': None, 'account_type': 'human'}
{'id': 1191444692, 'name': 'Jakob', 'screen_name': 'TheJakobmurphy', 'followers_count': 183, 'friends_count': 649, 'statuses_count': 6382, 'time_zone': None, 'account_type': 'human'}
{'id': 2499018968, 'name': 'ü§ì', 'screen_name': 'bkatcap', 'followers_count': 357, 'friends_count': 837, 'statuses_count': 9660, 'time_zone': None, 'account_type': 'human'}
{'id': 557842655, 'name': 'D & M Interiors', 'screen_name': 'DMInteriorsFA', 'followers_count': 89, 'friends_count': 225, 'statuses_count': 3733, 'time_zone': None, 'account_type': 'human'}
{'id': 23331044, 'name': 'Amanda J.', 'screen_name': 'EdwardCAddict', 'followers_count': 102, 'friends_count': 0, 'statuses_count': 5561, 'time_zone': None, 'account_type': 'bot'}
{'id': 321388777, 'name': 'Gotaga', 'screen_name': 'Gotaga', 'followers_count': 1561144, 'friends_count': 944, 'statuses_count': 39739, 'time_zone': None, 'account_type': 'human'}
{'id': 298320111, 'name': 'chandler riggs', 'screen_name': 'chandlerriggs', 'followers_count': 1508438, 'friends_count': 691, 'statuses_count': 2740, 'time_zone': None, 'account_type': 'human'}
{'id': 51904755, 'name': 'dll.io', 'screen_name': 'dll_io', 'followers_count': 108, 'friends_count': 2339, 'statuses_count': 2233, 'time_zone': None, 'account_type': 'bot'}
{'id': 243794165, 'name': 'David Price', 'screen_name': 'Priceyd101', 'followers_count': 106863, 'friends_count': 333, 'statuses_count': 10131, 'time_zone': None, 'account_type': 'human'}
{'id': 2918711542, 'name': 'Valentino', 'screen_name': 'TinoVale23', 'followers_count': 315, 'friends_count': 411, 'statuses_count': 3105, 'time_zone': None, 'account_type': 'bot'}

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,id,name,screen_name,followers_count,friends_count,statuses_count,time_zone,account_type
0,0.0,0.0,0.0,0.0,787405734442958848,The Best In Dumbest,best_in_dumbest,1829,5,14338,NaN,bot
1,1.0,1.0,1.0,1.0,796216118331310080,CJ Rubin,CJRubinPhoto,814,847,251,NaN,human
2,2.0,2.0,2.0,2.0,875949740503859204,üî•ùñòùñÜùñõùñÜùñåùñä ùñåùñäùñìùñôüî•,SVGEGENT,181,875,1280,NaN,human
3,3.0,3.0,3.0,3.0,756119643622735875,Danielle Tinker,TinkerVHECHK5,646,744,1868,NaN,human
4,4.0,4.0,4.0,4.0,464781334,Joleon Lescott,JoleonLescott,740513,120,4445,NaN,human
5,5.0,5.0,5.0,5.0,55050269,Carrie Ann Inaba,carrieanninaba,284263,1597,14685,NaN,human
6,6.0,6.0,6.0,6.0,809500704,Sherine Abdel-Wahab,sherine,7262784,38,1288,NaN,human
7,7.0,7.0,7.0,7.0,1015021614,Maureen Cordens,cordensmaureen,24,0,276,NaN,human
8,8.0,8.0,8.0,8.0,492306486,Graham,GhamGraham,2045,3301,64627,NaN,human
9,9.0,9.0,9.0,NaN,432537664,LJYN,jainabdulaziz,28,0,912,NaN,human
10,10.0,10.0,10.0,NaN,2579497028,poem.exe,poem_exe,31171,28,26260,NaN,bot
11,11.0,11.0,11.0,NaN,19660870,Hilary Alexander,HilaryAlexander,253128,709,46258,NaN,human
12,12.0,12.0,12.0,NaN,313087874,jacob whitesides,JacobWhitesides,1853532,2418,85132,NaN,human
13,13.0,13.0,13.0,NaN,211550281,Giulia Innocenzi,giuliainnocenzi,248116,598,6238,NaN,human
14,14.0,14.0,14.0,NaN,769392715,Dead Rockstar,RichiMasu,5175,583,111928,NaN,human
15,15.0,15.0,15.0,NaN,772106131875500032,Mazie Nagahama,NagahamaMazie,0,0,272,NaN,human
16,16.0,16.0,16.0,NaN,772521707810787328,Cari Penmetsa,PenmetsaCari,0,0,104,NaN,human
17,17.0,17.0,17.0,NaN,476691783,Rhymes with Chillin,UnifiedBranding,2231,270,19366,NaN,human
18,18.0,18.0,18.0,NaN,384565337,Chuck Baechel,ChuckBaechel,6,31,625,NaN,bot
19,19.0,19.0,NaN,NaN,305922144,Ricky Jaime,D8Ricky,35938,360,9192,NaN,human
20,20.0,20.0,NaN,NaN,1183842404,Sandy Pass,ValdakR,4,0,23,NaN,bot
21,21.0,21.0,NaN,NaN,253755500,JUANPA ZURITA üá≤üáΩ,JuanpaZurita,7935928,3073,22515,NaN,human
22,22.0,22.0,NaN,NaN,368050288,Julie Zauzmer Weil,juliezweil,17185,1191,13955,NaN,human
23,23.0,23.0,NaN,NaN,14418045,DAP Malaysia,dapmalaysia,177713,117,83032,NaN,human
24,24.0,24.0,NaN,NaN,296484990,Kaitlyn,KaitlynTck,595,978,9770,NaN,human
25,25.0,25.0,NaN,NaN,932049341862240256,Winamp ‚ö°Ô∏è Skin Bot,winampskins,7893,4,7048,NaN,bot
26,26.0,26.0,NaN,NaN,99352713,Jennie Matthews,mykidsfault,134,139,6963,NaN,human
27,27.0,27.0,NaN,NaN,519045260,ÿπÿ®ÿØÿßŸÑÿπÿ≤Ÿäÿ≤ ÿßŸÑŸáÿØŸÑŸÇ,azizhadlaq2010,253428,1004,27626,NaN,human
28,28.0,28.0,NaN,NaN,115343506,Najam Wali Khan,najamwalikhan,8992,650,18043,NaN,human
29,29.0,NaN,NaN,NaN,2166882457,your teacher is a Black woman,TheOnlyMsV,713,612,5842,NaN,human
30,30.0,NaN,NaN,NaN,381157528,Gabby Vasquez,gabbs_01,64,151,2731,NaN,bot
31,31.0,NaN,NaN,NaN,721944734,Susan Crossman,effort7879,3,0,19,NaN,bot
32,32.0,NaN,NaN,NaN,3392143521,LittleDogBigPhilly,LilDogBigPhilly,263,248,1342,NaN,human
33,33.0,NaN,NaN,NaN,23330998,Hassan I. Hassan,hxhassan,115936,1411,71533,NaN,human
34,34.0,NaN,NaN,NaN,63176889,Lily Cat,Violetworld,388,300,29212,NaN,human
35,35.0,NaN,NaN,NaN,239861947,ContessinaTuMiStufi,Halena85,264,514,31875,NaN,human
36,36.0,NaN,NaN,NaN,21758143,Maverick Sabre,MaverickSabre,150787,1032,33911,NaN,human
37,37.0,NaN,NaN,NaN,765944091385421824,Regan Oconnor,nikonovasvyato1,12,11,1326,NaN,bot
38,38.0,NaN,NaN,NaN,19923144,NBA,NBA,34747962,1888,286187,NaN,bot
39,NaN,NaN,NaN,NaN,235667666,guwop,AlexNunez__,1308,1177,74662,NaN,human
40,NaN,NaN,NaN,NaN,1191444692,Jakob,TheJakobmurphy,183,649,6382,NaN,human
41,NaN,NaN,NaN,NaN,2499018968,ü§ì,bkatcap,357,837,9660,NaN,human
42,NaN,NaN,NaN,NaN,557842655,D & M Interiors,DMInteriorsFA,89,225,3733,NaN,human
43,NaN,NaN,NaN,NaN,23331044,Amanda J.,EdwardCAddict,102,0,5561,NaN,bot
44,NaN,NaN,NaN,NaN,321388777,Gotaga,Gotaga,1561144,944,39739,NaN,human
45,NaN,NaN,NaN,NaN,298320111,chandler riggs,chandlerriggs,1508438,691,2740,NaN,human
46,NaN,NaN,NaN,NaN,51904755,dll.io,dll_io,108,2339,2233,NaN,bot
47,NaN,NaN,NaN,NaN,243794165,David Price,Priceyd101,106863,333,10131,NaN,human
48,NaN,NaN,NaN,NaN,2918711542,Valentino,TinoVale23,315,411,3105,None,bot

In [20]:
output_dataframe.to_csv("output.csv", sep='\t', index_col=[0])